<md-dialog flex="90" md-theme="{{ state.theme.colorTheme }}" class="dialog-top-level">
    <md-toolbar class="md-toolbar-tools dialog-toolbar">
        <h1>Donate with Crypto-Currency</h1>
        <span flex></span>
        <md-button ng-click="closeDialog()">
            <i class="material-icons inline-icon">close</i>
        </md-button>
    </md-toolbar>
    <md-dialog-content>
        <md-content class="dialog-content center-aligned">

            <p>Send using whatever transfer method you prefer. If you have never used crypto-currencies before, <a href="https://www.coinbase.com/join/594b1fde9b662e01ea88f8fa">Coinbase</a> is a popular exchange.</p>

            <md-tabs md-dynamic-height md-border-bottom flex md-center-tabs="true">
                <md-tab label="Ethereum (ETH)">
                    <md-content class="md-padding">
                        <img src="/images/ethereum-address.PNG">

                        <div>
                            <p>Ethereum Wallet Address: <span ng-bind="ethereumAddress"></span></p>
                            <md-button aria-label="Copy All Comments" md-ink-ripple class="md-button md-raised md-accent" md-ripple-size="auto" ng-click="illToastToThat('Ethereum address copied to clipboard'); " clipboard text="ethereumAddress">
                                <i class="material-icons inline-icon">content_copy</i>
                                <span>Copy Address</span>
                            </md-button>
                            <span flex></span>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Bitcoin (BTC)">
                    <md-content class="md-padding">
                        <img src="/images/bitcoin-address.jpg">

                        <div>
                            <p>Bitcoin Wallet Address: <span ng-bind="bitcoinAddress"></span></p>
                            <md-button aria-label="Copy All Comments" md-ink-ripple class="md-button md-raised md-accent" md-ripple-size="auto" ng-click="illToastToThat('Bitcoin address copied to clipboard'); " clipboard text="bitcoinAddress">
                                <i class="material-icons inline-icon">content_copy</i>
                                <span>Copy Address</span>
                            </md-button>
                            <span flex></span>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Litecoin (LTC)">
                    <md-content class="md-padding">
                        <img src="/images/litecoin-address.PNG">

                        <div>
                            <p>Litecoin Wallet Address: <span ng-bind="litecoinAddress"></span></p>
                            <md-button aria-label="Copy All Comments" md-ink-ripple class="md-button md-raised md-accent" md-ripple-size="auto" ng-click="illToastToThat('Bitcoin address copied to clipboard'); " clipboard text="litecoinAddress">
                                <i class="material-icons inline-icon">content_copy</i>
                                <span>Copy Address</span>
                            </md-button>
                            <span flex></span>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Bitcoin Cash (BCH)">
                    <md-content class="md-padding">
                        <img src="/images/bitcoin-cash-address.PNG">

                        <div>
                            <p>Bitcoin Cash Wallet Address: <span ng-bind="bitcoinCashAddress"></span></p>
                            <md-button aria-label="Copy All Comments" md-ink-ripple class="md-button md-raised md-accent" md-ripple-size="auto" ng-click="illToastToThat('Bitcoin address copied to clipboard'); " clipboard text="bitcoinCashAddress">
                                <i class="material-icons inline-icon">content_copy</i>
                                <span>Copy Address</span>
                            </md-button>
                            <span flex></span>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>

            <!--<div class="center-aligned ">-->
                <!--<md-button class="md-primary" ng-click="closeDialog()">OK, I'm done here</md-button>-->
            <!--</div>-->
        </md-content>
    </md-dialog-content>
</md-dialog>