<md-dialog flex="80" md-theme="{{ state.theme.colorTheme }}" class="dialog-top-level">
    <md-toolbar class="md-toolbar-tools dialog-toolbar">
        <h1>
            Edit Comment Tone
            <md-tooltip ng-style="state.theme.tooltips" class="tooltip" ng-show="showTooltips">
                Comment ID <span ng-bind="editingComment.comment_id"></span>
            </md-tooltip>
        </h1>
        <span flex></span>
        <md-button ng-click="closeDialog()">
            <i class="material-icons inline-icon">close</i>
        </md-button>
    </md-toolbar>
    <md-dialog-content>
        <md-content class="dialog-content">

            <p ng-show="staticMode">
                This feature is currently disabled

                <md-button ng-click="showDialog('dialogs/static-mode.html')">
                    <i class="material-icons inline-icon">help</i>
                    More Info
                </md-button>
            </p>

            <p>"<span ng-bind="editingComment.comment_text"></span>"</p>

            <div layout-xs="column" layout-sm="column" layout-md="row" layout-gt-md="row">
                <md-button ng-disabled="staticMode" aria-label="Mark Positive" md-ink-ripple class="md-button md-raised md-accent"
                           md-ripple-size="auto" ng-click="setCommentTone(1)">
                    <i class="material-icons inline-icon">thumb_up</i>
                    <span>Positive</span>
                </md-button>

                <md-button ng-disabled="staticMode" aria-label="Mark Neutral" md-ink-ripple class="md-button md-raised md-accent"
                           md-ripple-size="auto" ng-click="setCommentTone(0)">
                    <i class="material-icons inline-icon">thumbs_up_down</i>
                    <span>Neutral</span>
                </md-button>

                <md-button ng-disabled="staticMode" aria-label="Mark Negative" md-ink-ripple class="md-button md-raised md-accent"
                           md-ripple-size="auto" ng-click="setCommentTone(-1)">
                    <i class="material-icons inline-icon">thumb_down</i>
                    <span>Negative</span>
                </md-button>

                <md-button ng-click="closeDialog()">Cancel</md-button>
            </div>
        </md-content>

    </md-dialog-content>
</md-dialog>