<md-dialog flex="80" md-theme="{{ state.theme.colorTheme }}" class="dialog-top-level">
    <md-toolbar class="md-toolbar-tools dialog-toolbar">
        <h1>
            Add or Remove Tags
            <md-tooltip ng-style="state.theme.tooltips" class="tooltip" ng-show="showTooltips">
                Comment ID <span ng-bind="editingComment.comment_id"></span>
            </md-tooltip>
        </h1>
        <span flex></span>
        <md-button ng-click="closeDialog()">
            <i class="material-icons inline-icon">close</i>
        </md-button>
    </md-toolbar>
    <md-dialog-content>
        <md-content class="dialog-content">

            <p ng-show="staticMode">
                This feature is currently disabled

                <md-button ng-click="showDialog('dialogs/static-mode.html')">
                    <i class="material-icons inline-icon">help</i>
                    More Info
                </md-button>
            </p>

            <p>"<span ng-bind="editingComment.comment_text"></span>"</p>

            <md-chips class="chip-style" ng-model="editingComment.tags"
                      md-on-remove="editingComment.tags_removed = true"
                      md-on-add="editingComment.tags_added = true"></md-chips>
            <br>

            <span ng-style="state.theme.highlightColor" ng-hide="showCommonTags" class="cursor-pointer"
                  ng-click="showCommonTags = true">Show common tags</span>
        <span ng-show="showCommonTags">
            <span ng-repeat="tag in commonTags">
                <span ng-style="state.theme.highlightColor" ng-hide="editingComment.tags.indexOf(tag.tag) > -1"><span
                        class="cursor-pointer" ng-bind="tag.tag" ng-click="editingComment.tags.push(tag.tag);"></span>{{$last ? '' : ', '}}</span></span>
            <br><br>
            <span ng-show="showCommonTags" ng-style="state.theme.highlightColor" class="cursor-pointer"
                  ng-click="showCommonTags = false">Hide common tags</span>
        </span>

            <div class="center-aligned">
                <md-button ng-disabled="staticMode" md-ink-ripple flex class="md-button md-raised md-primary" ng-click="saveDialog()">Save
                </md-button>
                <md-button ng-click="closeDialog()">Cancel</md-button>
            </div>
        </md-content>
    </md-dialog-content>
</md-dialog>