<md-dialog flex="90" md-theme="{{ state.theme.colorTheme }}" class="dialog-top-level">
    <md-toolbar class="md-toolbar-tools dialog-toolbar">
        <h1>Stats</h1>
        <span flex></span>
        <md-button ng-click="closeDialog()">
            <i class="material-icons inline-icon">close</i>
        </md-button>
    </md-toolbar>
    <md-dialog-content>
        <md-content class="dialog-content">
            <!--Total Not Deleted Comments: {{totalCommentsSize}}<br>-->

            <table>
                <tr>
                    <th>Type</th>
                    <th>Total</th>
                    <th>Percent</th>
                </tr>
                <tr>
                    <td>
                        Tagged
                    </td>
                    <td>
                        {{stats.tagged}}
                    </td>
                    <td>
                        {{(stats.tagged / totalCommentsSize * 100).toFixed(2)}}%
                    </td>
                </tr>
                <tr>
                    <td>
                        Rated
                    </td>
                    <td>
                        {{stats.rated}}
                    </td>
                    <td>
                        {{(stats.rated / totalCommentsSize * 100).toFixed(2)}}%
                    </td>
                </tr>
                <tr>
                    <td>
                        Flagged
                    </td>
                    <td>
                        {{stats.flagged}}
                    </td>
                    <td>
                        {{(stats.flagged / totalCommentsSize * 100).toFixed(2)}}%
                    </td>
                </tr>
                <tr>
                    <td>
                        Edited
                    </td>
                    <td>
                        {{stats.edited}}
                    </td>
                    <td>
                        {{(stats.edited / totalCommentsSize * 100).toFixed(2)}}%
                    </td>
                </tr>
            </table>

            <span ng-show="stats.unread > 0">
                <br>Unread messages: {{stats.unread}}<br>
            </span>

            <span ng-show="stats.fails > 0">
                <br>Password Fails last 7 days: {{stats.fails}}<br>
            </span>

            <div class="center-aligned close-modal-elements">
                <md-button class="md-primary" ng-click="closeDialog()">Close Settings</md-button>
            </div>
        </md-content>

    </md-dialog-content>
</md-dialog>