<md-dialog flex="80" md-theme="{{ state.theme.colorTheme }}" class="dialog-top-level">
    <md-toolbar class="md-toolbar-tools dialog-toolbar">
        <h1>Contact Form</h1>
        <span flex></span>
        <md-button ng-click="closeDialog()" class="md-primary">
            <i class="material-icons inline-icon">close</i>
            <span hide-xs hide-sm>Close</span>
        </md-button>
    </md-toolbar>
    <md-dialog-content>
        <md-content class="dialog-content">
            <p ng-style="state.theme.textColor">
                Submit any comments, questions, complaints, suggestions or other feedback here:
            </p>
            <br>

            <md-input-container class="input-container full-width" flex="100">
                <label>Name (optional)</label>
                <input md-maxlength="255" type="text" ng-model="contact.name">
            </md-input-container>

            <md-input-container class="input-container full-width" flex="100">
                <label>Email Address (recommended)</label>
                <input md-maxlength="255" type="text" ng-model="contact.email">
            </md-input-container>

            <md-input-container class="input-container full-width" flex="100">
                <label>Message (required)</label>
                <textarea md-maxlength="1000" ng-model="contact.message"></textarea>
            </md-input-container>

            <p ng-style="state.theme.textColor">
                I will never share your name or email address with anybody.
            </p>


            <div class="center-aligned">
                <md-button md-ink-ripple ng-disabled="!contact.message" flex class="md-button md-raised md-primary"
                           ng-click="saveDialog()">Submit
                </md-button>
                <md-button ng-click="closeDialog(); contact = {};">Cancel</md-button>
            </div>
        </md-content>


    </md-dialog-content>
</md-dialog>