<md-dialog flex="80" md-theme="{{ state.theme.colorTheme }}" class="dialog-top-level">
    <md-toolbar class="md-toolbar-tools dialog-toolbar">
        <h1>
            Edit Comment
            <md-tooltip ng-style="state.theme.tooltips" class="tooltip" ng-show="showTooltips">
                Comment ID <span ng-bind="editingComment.comment_id"></span>
            </md-tooltip>
        </h1>
        <span flex></span>
        <md-button ng-click="closeDialog()">
            <i class="material-icons inline-icon">close</i>
            <span hide-xs hide-sm>Close</span>
        </md-button>
    </md-toolbar>
    <md-dialog-content>
        <md-content class="dialog-content">
            <p>
                A password is currently required to edit comment text or delete comments, but anybody can edit comment
                tone or flag a comment.<br><br>
            </p>

            <md-input-container class="almost-full-width">
                <label>Editing Password</label>
                <input type="text" ng-model="editingPasswordTry" flex-gt-sm="50">
                <md-tooltip ng-style="state.theme.tooltips" class="tooltip" ng-show="showTooltips">
                    Enter the password to edit comment text
                </md-tooltip>
            </md-input-container>
            <br>

            <md-input-container class="almost-full-width">
                <label>Comment Text</label>
                <textarea required md-maxlength="255" ng-disabled="editingPasswordTry < 1"
                          ng-model="editingComment.comment_text"></textarea>
                <div class="hint" ng-show="editingPasswordTry != ''">Available variables are CLASS_NAME and
                    STUDENT_NAME
                </div>
                <md-tooltip ng-style="state.theme.tooltips" class="tooltip" ng-show="showTooltips">
                    <span ng-show="editingPasswordTry == ''">A password is required to edit comment text</span>
                    <span ng-show="editingPasswordTry != ''">Edit comment text</span>
                </md-tooltip>
            </md-input-container>
            <br>

            Select comment tone:<br><br>
            <div class="pos-neg-radio">
                <md-radio-group class="md-accent" ng-model="editingComment.pos_neg" layout-xs="column" layout-sm="row"
                                layout="row" layout-fill>
                    <md-radio-button ng-model="gender" value="1">Positive</md-radio-button>
                    <div class="spacer-div" hide-lg-xs></div>
                    <md-radio-button ng-model="gender" value="0">Neutral</md-radio-button>
                    <div class="spacer-div" hide-lg-xs></div>
                    <md-radio-button ng-model="gender" value="-1">Negative</md-radio-button>
                </md-radio-group>
                <md-tooltip ng-style="state.theme.tooltips" ng-show="showTooltips" class="tooltip">
                    <span ng-show="editingPasswordTry == ''">Edit comment tone</span>
                    <span ng-show="editingPasswordTry != ''">Edit verified comment tone</span>
                </md-tooltip>
            </div>
            <br><br>

            Add or remove tags:
            <md-chips ng-model="editingComment.tags" md-on-remove="editingComment.tags_removed = true"
                      md-on-add="editingComment.tags_added = true"></md-chips>

            <br><br>

            <div>
                <md-checkbox ng-model="editingComment.flagged" ng-false-value="'0'" ng-true-value="'1'"
                             class="setting-control" aria-label="Flag this comment">
                    Flag comment for admin attention
                </md-checkbox>
                <md-tooltip ng-style="state.theme.tooltips" ng-show="showTooltips" class="tooltip">
                    Flag a comment for admin attention
                </md-tooltip>
            </div>
            <br><br>

            <div>
                <md-checkbox ng-model="editingComment.deleted" ng-false-value="0" ng-true-value="1"
                             class="setting-control" ng-disabled="editingPasswordTry == ''"
                             aria-label="Delete this comment">
                    Delete comment
                </md-checkbox>
                <md-tooltip ng-style="state.theme.tooltips" ng-hide="showTooltips" class="tooltip">
                    <span ng-show="editingPasswordTry == ''">A password is required to delete comments</span>
                    <span ng-show="editingPasswordTry != ''">Delete this comment</span>
                </md-tooltip>
            </div>
            <br>

            <div class="center-aligned">
                <md-button md-ink-ripple flex class="md-button md-raised md-accent" ng-click="saveDialog()">Save
                </md-button>
                <md-button ng-click="closeDialog()">Cancel</md-button>
            </div>
        </md-content>
    </md-dialog-content>
</md-dialog>