<md-dialog flex="80">
    <md-dialog-content style="padding: 2em;">
        <h2>Edit Comment</h2>

        <p>
            A password is currently required to edit comment text, but anybody can edit comment tone.<br><br>
            Available variables are CLASS_NAME and STUDENT_NAME.
        </p>

        <md-input-container class="full-width">
            <label>Editing Password</label>
            <input type="text" ng-model="editingPasswordTry">
            <md-tooltip class="tooltip" ng-hide="showTooltips">
                Enter the password to edit comment text
            </md-tooltip>
        </md-input-container><br>

        <md-input-container class="full-width">
            <label>Comment Text</label>
            <input type="text" required md-maxlength="255" ng-disabled="editingPasswordTry.length < 1" ng-model="editingComment.comment_text">
            <md-tooltip class="tooltip" ng-hide="showTooltips">
                A password is required to edit comment text
            </md-tooltip>
        </md-input-container><br>

        Select comment tone:<br><br>
        <div>
            <md-radio-group class="md-primary" ng-model="editingComment.pos_neg" layout-xs="column" layout-sm="row" layout="row" layout-fill>
                <md-radio-button ng-model="gender" value="1">Positive</md-radio-button>
                <div class="spacer-div" hide-lg-xs></div>
                <md-radio-button ng-model="gender" value="0">Neutral</md-radio-button>
                <div class="spacer-div" hide-lg-xs></div>
                <md-radio-button ng-model="gender" value="-1">Negative</md-radio-button>
            </md-radio-group>
            <md-tooltip ng-hide="showTooltips" class="tooltip">
                Edit comment tone; no password required
            </md-tooltip>
        </div>
        <br>

        <div class="center-aligned">
            <md-button md-ink-ripple flex class="md-button md-raised md-primary" ng-click="saveDialog()">Save</md-button>
            <md-button ng-click="closeDialog()">Cancel</md-button>
        </div>

    </md-dialog-content>
</md-dialog>