<md-dialog flex="80">
    <md-dialog-content style="padding: 2em;">
        <h2>Edit Comment</h2>

        <p>
            A password is currently required to edit comment text, but anybody can edit comment tone.<br><br>
            Available variables are CLASS_NAME and STUDENT_NAME.
        </p>

        <md-input-container>
            <label>Editing Password</label>
            <input type="text" ng-model="editingPasswordTry">
            <md-tooltip class="tooltip" ng-hide="isMobile">
                Enter the password to edit comment text
            </md-tooltip>
        </md-input-container>

        <md-input-container>
            <label>Comment Text</label>
            <input type="text" required md-maxlength="255" ng-disabled="editingPasswordTry.length < 1" ng-model="editingComment.comment_text">
            <md-tooltip class="tooltip" ng-hide="isMobile">
                A password is required to edit comment text
            </md-tooltip>
        </md-input-container>

        Select comment tone:
        <div>
            <md-radio-group class="md-primary" ng-model="editingComment.pos_neg" layout-sm="column" layout-md="column" layout-lg="column" layout-gt-lg="row" layout-fill>
                <md-radio-button ng-model="studentGender" value="1">Positive</md-radio-button>
                <md-radio-button ng-model="studentGender" value="0">Neutral</md-radio-button>
                <md-radio-button ng-model="studentGender" value="-1">Negative</md-radio-button>
            </md-radio-group>
            <md-tooltip ng-hide="isMobile" class="tooltip">
                Edit comment tone; no password required
            </md-tooltip>
        </div>
        <br>

        <md-button md-ink-ripple flex class="md-button md-raised md-primary" ng-click="saveDialog()">Save</md-button>
        <md-button ng-click="closeDialog()">Cancel</md-button>

    </md-dialog-content>
</md-dialog>