<md-dialog flex="80" md-theme="{{ state.theme.colorTheme }}">
    <md-dialog-content class="dialog-modal">
        <md-content>
            <h2 ng-style="state.theme.highlightColor">
            <span>Edit Comment Tone
                <md-tooltip class="tooltip" ng-show="showTooltips">
                    Comment ID <span ng-bind="editingComment.comment_id"></span>
                </md-tooltip>
            </span>
            </h2>

            <p>"<span ng-bind="editingComment.comment_text"></span>"</p>

            <div layout-xs="column" layout-sm="column" layout-md="row" layout-gt-md="row">
                <md-button aria-label="Mark Positive" md-ink-ripple class="md-button md-raised md-primary"
                           md-ripple-size="auto" ng-click="setCommentTone(1)">
                    <i class="material-icons inline-icon">thumb_up</i>
                    <span>Positive</span>
                </md-button>

                <md-button aria-label="Mark Neutral" md-ink-ripple class="md-button md-raised md-primary"
                           md-ripple-size="auto" ng-click="setCommentTone(0)">
                    <i class="material-icons inline-icon">thumbs_up_down</i>
                    <span>Neutral</span>
                </md-button>

                <md-button aria-label="Mark Negative" md-ink-ripple class="md-button md-raised md-primary"
                           md-ripple-size="auto" ng-click="setCommentTone(-1)">
                    <i class="material-icons inline-icon">thumb_down</i>
                    <span>Negative</span>
                </md-button>

                <md-button ng-click="closeDialog()">Cancel</md-button>
            </div>
        </md-content>

    </md-dialog-content>
</md-dialog>