<md-dialog flex="90" md-theme="{{ state.theme.colorTheme }}" class="dialog-top-level">
    <md-toolbar class="md-toolbar-tools dialog-toolbar">
        <h1 ng-show="state.class_name">All Comments for {{state.class_name}}</h1>
        <h1 ng-show="!state.class_name">All Comments</h1>
        <span flex></span>
        <md-button ng-click="closeDialog()">
            <i class="material-icons inline-icon">close</i>
            <span hide-xs hide-sm>Close</span>
        </md-button>
    </md-toolbar>
    <md-dialog-content>
        <md-content class="dialog-content">

            <md-input-container class="almost-full-width">
                <label>
                    All Comments
                </label>
            <textarea readonly ng-model="state.all_student_comments" placeholder="There's nothing here!"
                      class="almost-full-width"></textarea>
            </md-input-container>

            <div class="center-aligned  close-modal-elements">
                <md-button aria-label="Copy All Comments" md-ink-ripple flex class="md-button md-raised md-accent"
                           md-ripple-size="auto" ng-click="illToastToThat('All comments copied to clipboard'); saveAnalyticsClass('Copy All Comments - Finished Comments');"
                           clipboard text="state.all_student_comments">
                    <i class="material-icons inline-icon">content_copy</i>
                    <span>Copy All Comments</span>
                    <md-tooltip ng-style="state.theme.tooltips" ng-show="showTooltips" class="tooltip"
                                md-direction="below">
                        Copy comments for all students including introduction and conclusion if applicable
                    </md-tooltip>
                </md-button>
                <md-button ng-click="saveComments(); saveAnalyticsClass('Save Comments - Finished Comments');" ng-disabled="!state.all_student_comments"
                           class="md-accent md-raised">
                    <i class="material-icons inline-icon">file_download</i>
                    <span>Save Comments</span>
                </md-button>
                <md-button ng-click="closeDialog()">Close All Comments</md-button>
            </div>
        </md-content>

    </md-dialog-content>
</md-dialog>