<md-dialog flex="90">
    <md-dialog-content style="padding: 2em;">
        <div class="center-aligned yellow-color">
            <h2>
                <span ng-show="state.class_name">All Comments for {{state.class_name}}</span>
                <span ng-show="!state.class_name">All Comments</span>
            </h2>
        </div>

        <md-input-container class="full-width">
            <label>
                All Comments
            </label>
            <textarea ng-model="state.all_student_comments" placeholder="There's nothing here!" class="comment-text-box full-width"></textarea>
        </md-input-container>

        <div class="center-aligned yellow-color close-modal-elements">
            <md-button aria-label="Copy All Comments" md-ink-ripple flex class="md-button md-raised md-primary" md-ripple-size="auto" ng-click="illToastToThat('All comments copied to clipboard');" clipboard text="state.all_student_comments">
                <i class="material-icons inline-icon">content_copy</i>
                <span>Copy All Comments</span>
                <md-tooltip ng-show="showTooltips" class="tooltip" md-direction="below">
                    Copy comments for all students including introduction and conclusion if applicable
                </md-tooltip>
            </md-button>
            <md-button ng-click="closeDialog()">Close All Comments</md-button>
        </div>

    </md-dialog-content>
</md-dialog>