<md-dialog flex-xs="90" flex-sm="60" flex-gt-sm="50" md-theme="{{ state.theme.colorTheme }}" class="dialog-top-level">
    <md-toolbar class="md-toolbar-tools dialog-toolbar">
        <md-button ng-click="showAdvancedGraderView = !showAdvancedGraderView; refreshGraderTextAreas();">
            <i class="material-icons inline-icon" ng-show="showAdvancedGraderView">keyboard_arrow_up</i>
            <i class="material-icons inline-icon" ng-show="!showAdvancedGraderView">keyboard_arrow_down</i>
            <span class="md-title">Grade {{ editingStudentGrade.name }}</span>
        </md-button>
        <span flex></span>
        <md-button ng-click="closeDialog()" class="md-primary">
            <i class="material-icons inline-icon">close</i>
            <span hide-xs hide-sm>Close</span>
        </md-button>
    </md-toolbar>
    <md-dialog-content>
        <md-content class="grader-content">
            <div class="center-aligned">
                <div layout-xs="column" layout-sm="column" layout-gt-sm="row">
                    <span hide-sm hide-xs flex></span>
                    <md-button class="md-accent md-button md-raised" ng-click="setAllGrades('Negative'); resubmitAllGraderSearch(); buildAllGradeComments();">
                        <i class="material-icons inline-icon">thumb_down</i>
                        All Negative
                    </md-button>
                    <md-button class="md-accent md-button md-raised" ng-click="setAllGrades('Neutral'); resubmitAllGraderSearch(); buildAllGradeComments();">
                        <i class="material-icons inline-icon">thumbs_up_down</i>
                        All Neutral
                    </md-button>
                    <md-button class="md-accent md-button md-raised" ng-click="setAllGrades('Positive'); resubmitAllGraderSearch(); buildAllGradeComments();">
                        <i class="material-icons inline-icon">thumb_up</i>
                        All Positive
                    </md-button>
                    <span hide-sm hide-xs flex></span>
                </div>
            </div>

            <table class="comment-bank-table" ng-hide="showAdvancedGraderView">
                <tr ng-repeat="pattern_piece in editingStudentGrade.pattern" ng-style="getAltBackgroundColor($even);" layout-xs="column" layout-sm="column" layout-gt-sm="row" class="multi-student-comment-row repeated-item">
                    <td class="grader-td" flex layout="row">
                        <md-input-container class="almost-full-width grader-input">
                            <label>Search Text for sentence {{$index + 1}}</label>
                            <input type="text" autocomplete="off" placeholder="No Search Text Entered" class="almost-full-width" ng-model="pattern_piece.search_text">
                        </md-input-container>
                    </td>
                    <td class="grader-td" flex>

                        <br hide-xs hide-sm>
                        <br hide-xs hide-sm>
                        <md-radio-group ng-model="pattern_piece.tone" layout="row" class="grader-radio-container">
                            <md-radio-button ng-hide="true" value="Any">Any</md-radio-button>
                            <md-radio-button ng-click="resubmitSearch(pattern_piece, false, 'Any');" class="md-primary" value="Any">Any</md-radio-button>
                            <md-radio-button ng-click="resubmitSearch(pattern_piece, false, 'Negative');" class="md-primary grader-radio-button" value="Negative">
                                <span hide-xs>Negative</span>
                                <span hide-gt-xs>Neg.</span>
                            </md-radio-button>
                            <md-radio-button ng-click="resubmitSearch(pattern_piece, false, 'Neutral');" class="md-primary grader-radio-button" value="Neutral">
                                <span hide-xs>Neutral</span>
                                <span hide-gt-xs>Neut.</span>
                            </md-radio-button>
                            <md-radio-button ng-click="resubmitSearch(pattern_piece, false, 'Positive');" class="md-primary grader-radio-button" value="Positive">
                                <span hide-xs>Positive</span>
                                <span hide-gt-xs>Pos.</span>
                            </md-radio-button>
                        </md-radio-group>

                        <br hide-gt-sm>
                        <br hide-gt-sm>
                    </td>
                </tr>
            </table>

            <table class="comment-bank-table" ng-show="showAdvancedGraderView">
                <tr ng-repeat="pattern_piece in editingStudentGrade.pattern" ng-style="getAltBackgroundColor($even)" layout-xs="column" layout-sm="column" layout-gt-sm="row" class="multi-student-comment-row repeated-item">
                    <!--<td flex hide-xs hide-sm></td>-->
                    <td flex-xs flex-sm flex-gt-sm="50">
                        <md-input-container class="almost-full-width sample-result-input-container">
                            <label>
                                <span>Search result for sentence {{$index + 1}}</span>
                            </label>
                            <textarea ng-model="pattern_piece.found_comment" readonly class="almost-full-width"></textarea>
                        </md-input-container>
                    </td>
                    <td flex layout="column">

                        <form ng-submit="resubmitSearch(pattern_piece, false);">
                            <md-input-container class="almost-full-width grader-input">
                                <label>Search Text for sentence {{$index + 1}}</label>
                                <input type="text" placeholder="No Search Text Entered" class="almost-full-width" ng-model="pattern_piece.search_text">
                            </md-input-container>
                        </form>

                        <md-radio-group ng-model="pattern_piece.tone" layout="row" class="grader-radio-container">
                            <md-radio-button class="md-primary grader-radio-button" value="Any" ng-click="resubmitSearch(pattern_piece, false, 'Any'); buildAllGradeComments();">Any</md-radio-button>
                            <md-radio-button class="md-primary grader-radio-button" value="Negative" ng-click="resubmitSearch(pattern_piece, false, 'Negative'); buildAllGradeComments();">Neg.</md-radio-button>
                            <md-radio-button class="md-primary grader-radio-button" value="Neutral" ng-click="resubmitSearch(pattern_piece, false, 'Neutral'); buildAllGradeComments();">Neut.</md-radio-button>
                            <md-radio-button class="md-primary grader-radio-button" value="Positive" ng-click="resubmitSearch(pattern_piece, false, 'Positive'); buildAllGradeComments();">Pos.</md-radio-button>
                        </md-radio-group>

                    </td>
                    <td flex-xs flex-sm flex-gt-sm="20" layout-xs="column" layout-sm="row" layout-gt-sm="column">
                        <md-button aria-label="Remove All Students" md-ink-ripple flex class="cursor-pointer full-width" md-ripple-size="auto" ng-click="resubmitSearch(pattern_piece, false);  buildAllGradeComments();">
                            <i class="material-icons inline-icon">autorenew</i>
                            <span>Regenerate</span>
                            <md-tooltip ng-style="state.theme.tooltips" ng-show="showTooltips" class="tooltip" md-direction="below">
                                Regenerate this search result
                            </md-tooltip>
                        </md-button>
                        <md-button aria-label="Remove Search" md-ink-ripple flex class="cursor-pointer full-width" md-ripple-size="auto" ng-click="editingStudentGrade.pattern.splice($index, 1);  buildAllGradeComments();">
                            <i class="material-icons inline-icon">delete</i>
                            <span>Remove</span>
                            <md-tooltip ng-style="state.theme.tooltips" ng-show="showTooltips" class="tooltip" md-direction="below">
                                Clear this search
                            </md-tooltip>
                        </md-button>
                    </td>
                    <!--<td flex hide-xs hide-sm></td>-->
                </tr>
            </table>

            <div class="center-aligned close-modal-elements">
                <md-button class="md-accent md-button md-raised" ng-hide="gradingIndex != null" ng-click="saveGrade()">
                    <i class="material-icons inline-icon">done</i>
                    Save
                    <md-tooltip ng-style="state.theme.tooltips"
                                ng-show="state.settings.showTooltips && editingStudentGrade"
                                class="tooltip">
                        Saves these grades as a pattern and regenerates the comment accordingly
                    </md-tooltip>
                </md-button>
                <md-button class="md-accent md-button md-raised" ng-show="gradingIndex != null"
                           ng-click="saveGrade(); gradeAllStudents(gradingIndex + 1);">
                    <i class="material-icons inline-icon">done</i>
                    Save
                    <md-tooltip ng-style="state.theme.tooltips"
                                ng-show="state.settings.showTooltips && editingStudentGrade"
                                class="tooltip">
                        Saves these grades as a pattern, regenerates the comment accordingly and opens the next student
                    </md-tooltip>
                </md-button>
                <md-button ng-click="closeDialog()">
                    <i class="material-icons inline-icon">cancel</i>
                    Cancel
                    <md-tooltip ng-style="state.theme.tooltips"
                                ng-show="state.settings.showTooltips && editingStudentGrade"
                                class="tooltip">
                        Do not save these grades and stops grading
                    </md-tooltip>
                </md-button>
            </div>

        </md-content>
    </md-dialog-content>
</md-dialog>