<md-dialog flex="80" md-theme="{{ state.theme.colorTheme }}">
    <md-dialog-content class="dialog-modal">
        <md-content>
            <div class="center-aligned ">
                <h2 ng-style="state.theme.highlightColor">Pattern Settings</h2>
            </div>

            <md-divider></md-divider>

            <h3 class="settings-header" ng-style="state.theme.highlightColor">Counting Matches</h3>
            <div layout-xs="column" layout-sm="row" layout-gt-sm="row" layout-fill>
                <div flex-gt-xs="25" class="setting-control-container">
                    <md-checkbox ng-model="state.settings.getSearchResultCount" aria-label="Hide or show the tooltips"
                                 class="setting-control">
                        Count Matches
                    </md-checkbox>
                </div>
                <p flex-gt-xs="75" class="settings-text">Counting the number of matches takes considerably longer with
                    smart search due to having to examine each comment. With counting turned off the system just stops
                    when it finds the first matching comment.</p>
            </div>

            <md-divider></md-divider>
            <div class="center-aligned  close-modal-elements">
                <md-button class="md-primary" ng-click="closeDialog()">Close Settings</md-button>
            </div>
        </md-content>

    </md-dialog-content>
</md-dialog>