<md-dialog flex="80" md-theme="{{ state.theme.colorTheme }}">
    <md-dialog-content style="padding: 2em;">

        <md-content>
            <div class="center-aligned ">
                <h2 ng-style="state.theme.highlightColor">Application Settings</h2>
            </div>

            <md-divider></md-divider>

            <h3 class="settings-header" ng-style="state.theme.highlightColor">Visibility</h3>
            <div layout-xs="column" layout-sm="row" layout-gt-sm="row" layout-fill>
                <div flex-gt-xs="25" class="setting-control-container">
                    <md-checkbox ng-model="state.settings.showTooltips" aria-label="Hide or show the tooltips"
                                 class="setting-control">
                        Tooltips
                    </md-checkbox>
                </div>
                <p flex-gt-xs="75" class="settings-text">Turn pop up tooltips on or off. Recommended off for mobile or
                    touchscreen-only users; on for users with a mouse or other pointing device.</p>
            </div>

            <br>
            <md-divider></md-divider>

            <h3 class="settings-header" ng-style="state.theme.highlightColor">Default Comment Length</h3>
            <div layout-xs="column" layout-sm="row" layout-gt-sm="row" layout-fill>
                <div flex-gt-xs="25" class="setting-control-container">
                    <md-input-container class="settings-number-input setting-control">
                        <label>Size</label>
                        <input type="number" ng-model="state.settings.makeSomethingUpSize" min="1" max="100">
                    </md-input-container>
                </div>
                <p flex-gt-xs="75" class="settings-text">Adjust the number of sentences generated automatically when
                    adding new students. Can be any number from 1 - 100.</p>
            </div>

            <br>
            <md-divider></md-divider>

            <h3 class="settings-header" ng-style="state.theme.highlightColor">Gender Selection and Switching</h3>
            <div layout-xs="column" layout-sm="row" layout-gt-sm="row" layout-fill>
                <div flex-gt-sm="25" class="setting-control-container">
                    <md-checkbox ng-model="state.settings.avoidHer" class="setting-control"
                                 aria-label="Avoid comments with the 'her' pronoun">
                        Avoid "her"
                    </md-checkbox>
                </div>
                <p flex-gt-sm="75" class="settings-text">When auto-generating comments for non-female genders the system
                    cannot know for sure which pronoun to replace "her" with, therefore often times it gets it wrong.
                    Checking this will attempt to avoid comments with "her" when auto-generating comments if the gender
                    is not female. This will reduce the number of available comments for non-females, but also reduce
                    the number of corrections necessary.</p>
            </div>

            <div layout-xs="column" layout-sm="row" layout-gt-sm="row" layout-fill>
                <div flex-gt-sm="25" class="setting-control-container">
                    <md-checkbox ng-model="state.settings.enableNeutralGender" class="setting-control"
                                 aria-label="Enable neutral gender">
                        Enable Neutral
                    </md-checkbox>
                </div>
                <p flex-gt-sm="75" class="settings-text">The gender neutral pronouns are also plural (they, them,
                    etc...) and therefor switching to them from the singular male or female pronouns will often make the
                    sentence grammatically incorrect because verbs will remain singular. You can turn on the ability to
                    use gendered pronouns but more proofreading and correction will be required.</p>
            </div>

            <br>
            <md-divider></md-divider>

            <div>
                <h3 class="settings-header" ng-style="state.theme.highlightColor">Resize Comments</h3>
                <div layout-xs="column" layout-sm="row" layout-gt-sm="row" layout-fill>
                    <div flex-gt-xs="25" class="setting-control-container" class="setting-control-container">
                        <md-input-container class="settings-number-input setting-control">
                            <label>Target Size</label>
                            <input type="number" ng-model="state.settings.reduceCommentsSize" min="1"
                                   max="{{totalCommentsSize}}">
                        </md-input-container>

                    </div>
                    <p flex-gt-xs="75" class="settings-text">If searching is slow, generally for mobile users with
                        limited computing power, you can load only some of the comments to improve performance. This is
                        done by default for users on mobile devices. You may reload with any number of comments from 1
                        to <span ng-bind="formatNumber(totalCommentsSize)"></span>.<br><br>
                        Current size: <span ng-bind="formatNumber(comments.length);"></span> / <span
                                ng-bind="formatNumber(totalCommentsSize);"></span> (<span
                                ng-bind="(comments.length / totalCommentsSize * 100).toFixed(0);"></span>%)
                    </p>
                </div>
                <div layout-xs="column" layout-sm="row" layout-gt-sm="row" layout-fill>
                    <md-button aria-label="Reduce to Set Size" md-ink-ripple flex class="md-button md-raised md-accent"
                               md-ripple-size="auto" ng-click="reloadWithLimit()"
                               ng-disabled="state.reduceCommentsSize == comments.length">
                        <i class="material-icons inline-icon">cached</i>
                        Reload With <span ng-bind="formatNumber(state.settings.reduceCommentsSize);"></span>
                    </md-button>
                    <md-button aria-label="Reload All" md-ink-ripple flex class="md-button md-raised md-primary"
                               md-ripple-size="auto" ng-click="reloadWithLimit(0)"
                               ng-disabled="comments.length == totalCommentsSize">
                        <i class="material-icons inline-icon">cached</i>
                        Reload All <span ng-bind="formatNumber(totalCommentsSize);"></span>
                    </md-button>
                </div>
            </div>

            <md-divider></md-divider>
            <div class="center-aligned close-modal-elements">
                <md-button class="md-primary" ng-click="closeDialog()">Close Settings</md-button>
            </div>
        </md-content>


    </md-dialog-content>
</md-dialog>