.comment-text-box {
    width: 98%;
}

.comment-text {
    padding: .4em;
    cursor: pointer;
}

td.comment-text:hover {
    color: #FFC107;
    /*color: #673AB7;*/
}

.button-hover:hover {
    color: #FFC107;
}

.comment-edit {
    padding: .4em;
    cursor: pointer;
}

.comment-delete {
    padding: .4em;
    cursor: pointer;
}

.your-comment-div {
    margin: auto;
    text-align: center;
}

.darkula-background {
    color: #A9B7C6;
    background-color: #2b2b2b;
}

.yellow-color {
    color: #FFC107;
}

.toast-style {
    color: #FFC107;
    overflow: hidden;
    position: fixed;
}

.center-aligned {
    text-align: center;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

tr:nth-child(odd) {
    border-radius: 5px;
    background-color: #383838;
}

.comment-bank-table {
    width: 100%;
    border: none;
    border-collapse:collapse;
}

.invisible-button {
    height: 0px;
    width: 0px;
    visibility: hidden;
}

.input-container {
    padding-bottom: 0;
}

.tooltip {
    font-weight: bold;
    color: #2b2b2b;
}

.main-tab {
    text-align: center;
    padding-top: 1em;
}

.donate-tab {
    padding-top: 1em;
    text-align: center;
}

.tab-body-style {
    background-color: #171717;
}

.front-page-content-container {
    text-align: center;
    margin: auto;
}

.front-page-content {
    margin: auto;
    border-radius: 5px;
    max-width: 1000px;
}

.all-tabs {
    padding-top: 1em;
    max-width: 1600px;
    margin: auto;
}

.inline-icon {
    position: relative;
    top: .2em;
}

.paragraphs {
    margin:auto;
    text-align: center;
    max-width: 50em;
    padding-left: 1em;
    padding-right: 1em;
}

.positive {
    color: #FFC107;
}

.negative {
    color: #673AB7;
}

.neutral {
    color: #A9B7C6;
}

.unrated {
    color: black;
}

.edit-box {
    padding: 2em;
}

.waiting-spinner {
    margin:auto;
}

.full-width {
    width: 100%;
}

.comment-column {
    width: 80%;
}

.multi-student-button-td {
    vertical-align: middle;
    margin: auto;
}

.multi-student-button-container {
    margin: auto;
    max-height: 210px;
}

.button-min-size {
    max-height: 2.5em;
}

.multi-instructions-container {
    text-align: center;
    margin: auto;
}

.multi-instructions {
    margin: auto;
    text-align: left;
    max-width: 1000px;
    border-radius: 5px;
}

.copy-all-container {
    padding-top: 1em;
    text-align: center;
    margin: auto;
}

.rounded-corners {
    border-radius: 5px;
}

.multi-student-comment-row {
    padding-top: 1em;
}

.settings-tab {
    max-width: 800px;
    border-radius: 5px;
}

.settings-header {
    text-align: center;
}

.settings-text {
    padding-left: 1em;
}


.settings-number-input {
    padding-left: 1em;
    padding-top: 1em;
    max-width: 60%;
}

.help-modal {
    max-width: 1000px;
}

.fa-rotate-45 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.inputdemoErrorsAdvanced {
    /* NOTE: Check the demo's HTML to see some additional RTL support CSS */
    /* Setup animations similar to the ng-messages */ }
.inputdemoErrorsAdvanced .hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; }
.inputdemoErrorsAdvanced .hint.ng-hide,
.inputdemoErrorsAdvanced .hint.ng-enter,
.inputdemoErrorsAdvanced .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0; }
.inputdemoErrorsAdvanced .hint.ng-leave,
.inputdemoErrorsAdvanced .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1; }