.comment-text-box {
    width: 98%;
}

.comment-text {
    padding: .4em;
    cursor: pointer;
}

td.comment-text:hover {
    color: #FFC107;
    /*color: #673AB7;*/
}

.button-hover:hover {
    color: #FFC107;
}

.comment-edit {
    padding: .4em;
    cursor: pointer;
}

.comment-delete {
    padding: .4em;
    cursor: pointer;
}

.your-comment-div {
    margin: auto;
    text-align: center;
}

.darkula-background {
    color: #A9B7C6;
    background-color: #2b2b2b;
}

.yellow-color {
    color: #FFC107;
}

.toast-style {
    color: #FFC107;
    overflow: hidden;
    position: fixed;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

tr:nth-child(odd) {
    background-color: #383838;
}

.comment-bank-table {
    width: 100%;
    border: none;
    border-collapse:collapse;
}

.invisible-button {
    height: 0px;
    width: 0px;
    visibility: hidden;
}

.input-container {
    padding-bottom: 0;
}

.tooltip {
    font-weight: bold;
    color: #2b2b2b;
}

.main-tab {
    text-align: center;
    padding-top: 1em;
}

.donate-tab {
    padding-top: 1em;
    text-align: center;
}

.tab-body-style {
    background-color: #171717;
}

.front-page-content-container {
    text-align: center;
    margin: auto;
}

.front-page-content {
    margin: auto;
    border-radius: 5px;
    max-width: 1000px;
}

.all-tabs {
    padding-top: 1em;
    max-width: 1600px;
    margin: auto;
}

.inline-icon {
    position: relative;
    top: .2em;
}

.paragraphs {
    margin:auto;
    text-align: center;
    max-width: 50em;
    padding-left: 1em;
    padding-right: 1em;
}

.positive {
    color: #FFC107;
}

.negative {
    color: #673AB7;
}

.neutral {
    color: #A9B7C6;
}

.unrated {
    color: black;
}

.edit-box {
    padding: 2em;
}

.waiting-spinner {
    margin:auto;
}

.full-width {
    width: 100%;
}

.comment-column {
    width: 80%;
}

.multi-student-button-td {
    vertical-align: middle;
    margin: auto;
}

.multi-student-button-container {
    margin: auto;
    max-height: 210px;
}

.multi-instructions-container {
    text-align: center;
    margin: auto;
}

.multi-instructions {
    margin: auto;
    text-align: left;
    max-width: 1000px;
    border-radius: 5px;
}

.copy-all-container {
    padding-top: 1em;
    text-align: center;
    margin: auto;
}