.comment-text-box {
    width: 98%;
}

.comment-text {
    padding: .4em;
    cursor: pointer;
}

.comment-edit {
    padding: .4em;
    cursor: pointer;
}

.comment-delete {
    padding: .4em;
    cursor: pointer;
}

.your-comment-div {
    margin: auto;
    text-align: center;
}

.darkula-background {
    color: #A9B7C6;
    background-color: #2b2b2b;
}

.toast-style {
    color: #FFC107;
    overflow: hidden;
    position: fixed;
}

td:hover {
    color: #FFC107;
    /*color: #673AB7;*/
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

tr:nth-child(odd) {
    background-color: #383838;
}

.comment-bank-table {
    width: 100%;
    border: none;
    border-collapse:collapse;
}

.invisible-button {
    height: 0px;
    width: 0px;
    visibility: hidden;
}

.input-container {
    padding-bottom: 0;
}

.tooltip {
    font-weight: bold;
    color: #2b2b2b;
}