<md-dialog flex="80">
    <md-dialog-content style="padding: 2em;">

        <div class="center-aligned yellow-color">
            <h2>Comment Breeze Walkthrough</h2>
        </div>

        <br>

        <p class="center-aligned" ng-hide="walkthrough.class_name_done">
            <span class="yellow-color">First enter the name of your class.</span><br><br>
            You'll need class name for everything you do on Comment Breeze.<br><br>
        </p>

        <!--just the class name, student name and gender-->
        <div layout="column" class="center-aligned walkthrough-name-input-container">
            <form ng-submit="walkthrough.class_name_done = true;">
                <md-input-container class="input-container full-width">
                    <label>Class Name</label>
                    <input type="text" ng-model="className">
                </md-input-container>
            </form>
        </div>

        <!--selecting intro and conclusion-->
        <div ng-hide="!walkthrough.class_name_done || (walkthrough.neither_intro && walkthrough.intro_done)" class="center-aligned" layout="column">
            <p ng-hide="walkthrough.intro_done">
                <br>
                <span class="yellow-color">Would you like your comment to have a generic introduction or conclusion?</span><br><br>
                This would be something that does not pertain to a specific student like "Welcome to <span ng-bind="className"></span>, students!"<br>
            </p>

            <br>

            <div class="center-aligned" ng-hide="walkthrough.intro_done">
                <md-checkbox ng-model="walkthrough.introduction" ng-disabled="walkthrough.neither_intro" aria-label="Do an introduction">
                    Introduction
                </md-checkbox>

                <md-checkbox ng-model="walkthrough.conclusion" ng-disabled="walkthrough.neither_intro" aria-label="Do a conclusion">
                    Conclusion
                </md-checkbox>

                <md-checkbox ng-model="walkthrough.neither_intro" aria-label="Don't do any of these" ng-click="walkthrough.introduction = false; walkthrough.conclusion = false; yourCommentIntroduction == ''; yourCommentConclusion == ''">
                    Neither
                </md-checkbox>
            </div>

            <br ng-show="walkthrough.intro_done && (walkthrough.introduction || walkthrough.conclusion)">

            <div ng-show="walkthrough.introduction == true && !walkthrough.neither_intro" class="full-width center-aligned walkthrough-name-input-container">
                <p ng-hide="walkthrough.intro_done == true">Go ahead and enter your introduction here:</p>
                <md-input-container class="input-container full-width">
                    <label>Your Introduction</label>
                    <textarea ng-model="yourCommentIntroduction" class="comment-text-box"></textarea>
                </md-input-container>
            </div>

            <div ng-show="walkthrough.conclusion && !walkthrough.neither_intro" class="full-width center-aligned walkthrough-name-input-container">
                <p ng-hide="walkthrough.introduction || walkthrough.intro_done">Go ahead and enter your conclusion here:</p>
                <p ng-hide="!walkthrough.introduction || walkthrough.intro_done">And then enter your conclusion here:</p>
                <form ng-submit="walkthrough.intro_done = true;">
                    <md-input-container class="input-container full-width">
                        <label>Your Conclusion</label>
                        <textarea ng-model="yourCommentConclusion" class="comment-text-box"></textarea>
                    </md-input-container>
                </form>
            </div>

            <p ng-show="(walkthrough.conclusion || walkthrough.introduction) && !walkthrough.intro_done">
                If you want your student's name to appear in the
                <span ng-show="!walkthrough.conclusion && walkthrough.introduction">introduction,</span>
                <span ng-show="walkthrough.conclusion && !walkthrough.introduction">conclusion,</span>
                <span ng-show="walkthrough.conclusion && walkthrough.introduction">introduction or conclusion,</span>
                enter it as "STUDENT_NAME".<br>
                The student's name will be inserted later.<br>
                Example - "Welcome to the new semester, STUDENT_NAME!"
            </p>


        </div>

        <!--selecting single or multi-->
        <div ng-show="walkthrough.intro_done" class="center-aligned walkthrough-name-input-container">

            <p ng-hide="walkthrough.single_multi" class="yellow-color">
                How many students would you like to make comments for right now?
            </p>

            <br ng-show="walkthrough.single_multi">

            <md-radio-group class="md-primary radio-button-group" ng-model="walkthrough.single_multi" layout="row">
                <md-radio-button class="gender-radio" value="single">
                    One Student
                </md-radio-button>
                <md-radio-button class="gender-radio" value="multi">
                    Multiple Students
                </md-radio-button>
            </md-radio-group>

            <br><br>
        </div>

        <!--single-->
        <div ng-show="walkthrough.single_multi == 'single'">

            <!--entering their name-->
            <div ng-show="walkthrough.single_multi == 'single'" class="walkthrough-name-input-container center-aligned">

                <p class="yellow-color" ng-hide="walkthrough.single_name_done">
                    Enter your student's name and their gender:
                </p>

                <md-input-container class="input-container full-width">
                    <label>Student Name</label>
                    <input type="text" autocomplete="off" ng-model="studentName">
                </md-input-container>

                <md-radio-group class="md-primary radio-button-group" ng-model="gender" layout="row">
                    <md-radio-button ng-model="gender" class="gender-radio" value="male" selected>
                        Male
                    </md-radio-button>
                    <md-radio-button ng-model="gender" class="gender-radio" value="female" >
                        Female
                    </md-radio-button>
                </md-radio-group>

            </div>




            <div ng-show="walkthrough.single_name_done" class="center-aligned walkthrough-name-input-container">
                <p class="yellow-color" ng-hide="walkthrough.single_type">
                    Would you prefer to search through the comment bank for comments one at a time, or build a pattern that your comment will conform to and have the system build it for you?
                </p>

                <md-radio-group class="md-primary radio-button-group" ng-model="walkthrough.single_type" layout="row">
                    <md-radio-button class="gender-radio" value="search">
                        Search
                    </md-radio-button>
                    <md-radio-button class="gender-radio" value="pattern" ng-click="walkthrough.load_sample_pattern = true">
                        Build Pattern
                    </md-radio-button>
                </md-radio-group>

                <br><br>
            </div>

            <div ng-show="walkthrough.single_multi == 'single' && walkthrough.single_type == 'search'" class="center-aligned walkthrough-name-input-container">
                OK! I think I know what would work best for you.<br><br>
                You should go to the Single Student tab and use the search functionality to find comments that are applicable to your student. Add them by clicking on the text and edit as necessary.<br><br>
                <span ng-show="walkthrough.introduction && walkthrough.conclusion">
                    When you're done hit "Copy Comments" and your introduction and conclusion will be copied along with the comments you have added.
                </span>
                <span ng-show="walkthrough.introduction && !walkthrough.conclusion">
                    When you're done hit "Copy Comments" and your introduction will be copied along with the comments you have added.
                </span>
                <span ng-show="!walkthrough.introduction && walkthrough.conclusion">
                    When you're done hit "Copy Comments" and your conclusion will be copied along with the comments you have added.
                </span>
                <span ng-show="!walkthrough.introduction && !walkthrough.conclusion">
                    When you're done hit "Copy Comments" and your comments will be copied to the clipboard.
                </span>

                If you get stuck you can read the help pop up, it is located at the top right once you're on the tab. Good luck!

            </div>

            <div ng-show="walkthrough.single_multi == 'single' && walkthrough.single_type == 'pattern'" class="walkthrough-name-input-container">
                OK! I think I know what would work best for you.<br><br>
                You should go to the Smart Search tab to build a sentence-by-sentence pattern.<br>
                Each Smart Search you add tries to find 1 sentence matching the rules you set for it.<br><br>
                So for instance if you want your first sentence to include the word "welcome", type that in the search
                <span ng-show="walkthrough.introduction && walkthrough.conclusion">
                    When you're done hit "Copy Comments" and your introduction and conclusion will be copied along with the comments you have added.
                </span>
                <span ng-show="walkthrough.introduction && !walkthrough.conclusion">
                    When you're done hit "Copy Comments" and your introduction will be copied along with the comments you have added.
                </span>
                <span ng-show="!walkthrough.introduction && walkthrough.conclusion">
                    When you're done hit "Copy Comments" and your conclusion will be copied along with the comments you have added.
                </span>
                <span ng-show="!walkthrough.introduction && !walkthrough.conclusion">
                    When you're done hit "Copy Comments" and your comments will be copied to the clipboard.
                </span><br><br>

                If you want we can load up the sample pattern for you to start off with.<br><br>

                <md-checkbox ng-model="walkthrough.load_sample_pattern" aria-label="Do an introduction">
                    Load sample Smart Search pattern
                </md-checkbox><br><br>

                If you get stuck you can read the help pop up, it is located at the top right once you're on the tab. Good luck!

            </div>

        </div>

        <div ng-show="walkthrough.single_multi == 'multi'">

            <div class="center-aligned walkthrough-name-input-container">

                <p ng-hide="walkthrough.multi_student_done">
                    Enter the names of all the students you would like to do comments for:
                </p>

                <div layout="row" >
                    <form ng-submit="addMultiStudent()" autocomplete="off" flex="75">
                        <md-input-container class="input-container full-width">
                            <label>Student Name To Add</label>
                            <input type="text" ng-model="newMultiStudent">
                        </md-input-container>
                    </form>

                    <md-button aria-label="Add" md-ink-ripple flex="25" ng-disabled="newMultiStudent == ''" class="help-button md-button md-raised md-primary button-min-size" ng-click="addMultiStudent()" md-ripple-size="auto">
                        <i class="material-icons inline-icon">person_add</i>
                        <span>Add</span>
                    </md-button>
                </div>

                <p ng-hide="walkthrough.multi_student_done">
                    Tip: You may put a space after the students name and an "m" or "f" to set their gender. For example I could enter in "Jimmy f", hit enter, and the page would add a female student named "Jimmy".
                </p>

                <table class="full-width comment-bank-table">
                    <tr ng-repeat="student in multiStudent">
                        <td>
                            <md-input-container class="input-container full-width walkthrough-multi-name">
                                <label>Student {{$index + 1}} Name</label>
                                <input type="text" ng-model="student.name">
                            </md-input-container>
                        </td>
                        <td>
                            <md-radio-group class="md-primary radio-button-group" ng-model="student.gender" layout="row">
                                <md-radio-button ng-model="gender" class="gender-radio" value="male">
                                    M
                                </md-radio-button>
                                <md-radio-button ng-model="gender" class="gender-radio" value="female" >
                                    F
                                </md-radio-button>
                            </md-radio-group>
                        </td>
                        <td>
                            <md-button class="button-hover full-width" flex ng-click="removeMultiStudent(student)">
                                <i class="material-icons inline-icon">delete</i>
                                <!--<span>Remove Student</span>-->
                            </md-button>
                        </td>
                    </tr>
                </table>

                <div ng-show="walkthrough.multi_student_done">
                    <p>
                        How would you like to build the comments for each of your students?<br><br>
                    </p>

                    <md-radio-group class="md-primary radio-button-group" ng-model="walkthrough.multi_type" layout="column">
                        <md-radio-button value="scratch">
                            Start off blank and build piece by piece
                        </md-radio-button>
                        <md-radio-button value="random">
                            Generate something totally random to start off with
                        </md-radio-button>
                        <md-radio-button value="pattern">
                            Build a sentence-by-sentence pattern that all comments will conform to
                        </md-radio-button>
                    </md-radio-group>

                    <br><br>
                </div>

                <div ng-show="walkthrough.multi_type == 'scratch'">
                    OK! I think I know what would work best for you.<br><br>
                    We'll start you off with your list of students on the Multi Student tab.<br>
                    For each one click the menu for them and then "Edit as Single Student". This will take you to the Single Student tab where you can search for applicable comments. Add comments by clicking on them and edit as necessary.<br>
                    When you're done with that student's comments click "Done Editing".<br>
                    Repeat for each student.<br>
                </div>

                <div ng-show="walkthrough.multi_type == 'random'">
                    OK! I think I know what would work best for you.<br><br>
                    We'll start you off with your list of students on the Multi Student tab.<br><br>
                    We've already put some random comments there for each student.<br>
                    You can regenerate these comments to get a new random set and edit them as necessary.<br><br>
                    When you're done scroll to the bottom and click "Copy All Comments" and all of your comments will be copied to the clipboard
                    <span ng-show="walkthrough.introduction && walkthrough.conclusion">
                        with your introduction and conclusion added to each one.
                    </span>
                    <span ng-show="walkthrough.introduction && !walkthrough.conclusion">
                        with your introduction added to each one.
                    </span>
                    <span ng-show="!walkthrough.introduction && walkthrough.conclusion">
                        with your conclusion added to each one.
                    </span>
                    <span ng-show="!walkthrough.introduction && !walkthrough.conclusion">
                        .
                    </span>
                    <br>
                </div>

                <div ng-show="walkthrough.multi_type == 'pattern'">
                    OK! I think I know what would work best for you.<br><br>
                    We'll start you off on the Smart Search tab.<br>
                    We've pre-built a sample comment pattern for you, but you can modify it as necessary to fit your needs.<br>
                    When you're satisfied with the pattern hit "Apply to All Multi Student" and return to the Multi Student tab.<br>
                    Your comments should now all conform to the pattern you defined. You can edit them individually from here on out as needed.<br>
                </div>

            </div>

        </div>



        <br><br>
        <div class="yellow-color center-aligned" layout-xs="column" layout-sm="column" layout-gt-sm="row">

            <!--first step - class name -->
            <md-button ng-hide="walkthrough.class_name_done" class="md-button md-raised md-primary"
                       ng-disabled="className == ''" ng-click="walkthrough.class_name_done = true;" flex>
                <span>Next Step</span>
                <i class="material-icons inline-icon">forward</i>
            </md-button>

            <!--second step - introduction and conclusion-->
            <md-button ng-hide="walkthrough.intro_done || !walkthrough.class_name_done" class="md-button md-raised md-primary"
                       ng-disabled="(!walkthrough.introduction && !walkthrough.conclusion && !walkthrough.neither_intro) || (walkthrough.introduction == true && yourCommentIntroduction == '') || (walkthrough.conclusion == true && yourCommentConclusion == '')"
                       ng-click="walkthrough.intro_done = true;" flex>
                <span>Next Step</span>
                <i class="material-icons inline-icon">forward</i>
            </md-button>

            <!--third step - single or multiple - dummy button -->
            <md-button ng-hide="!walkthrough.intro_done || walkthrough.single_multi" ng-disabled="true" class="md-button md-raised md-primary"
                       ng-disabled="!walkthrough.single_multi"
                       ng-click="walkthrough.single_multiple_done = true" flex>
                <span>Next Step</span>
                <i class="material-icons inline-icon">forward</i>
            </md-button>

            <!--single student name-->
            <md-button ng-show="walkthrough.intro_done && walkthrough.single_multi == 'single' && !walkthrough.single_name_done"
                       ng-disabled="studentName == ''"
                       class="md-button md-raised md-primary"
                       ng-click="walkthrough.single_name_done = true" flex>
                <span>Next Step</span>
                <i class="material-icons inline-icon">forward</i>
            </md-button>

            <!-- after name entered, before search or pattern selected - dummy button -->
            <md-button ng-hide="!walkthrough.single_name_done || walkthrough.single_type" ng-disabled="true" class="md-button md-raised md-primary"
                       ng-disabled="!walkthrough.single_multi"
                       ng-click="walkthrough.single_multiple_done = true" flex>
                <span>Next Step</span>
                <i class="material-icons inline-icon">forward</i>
            </md-button>

            <!--once we know we are going to single student for single student-->
            <md-button ng-show="walkthrough.single_multi == 'single' && walkthrough.single_type == 'search'" class="md-button md-raised md-primary"
                       ng-click="selectedTab = 1; closeDialog();" flex>
                <span>Go to Single Student Tab</span>
                <i class="material-icons inline-icon">forward</i>
            </md-button>

            <!--once we know we are going to build a pattern for single student-->
            <md-button ng-show="walkthrough.single_multi == 'single' && walkthrough.single_type == 'pattern' && !walkthrough.load_sample_pattern" class="md-button md-raised md-primary"
                       ng-click="selectedTab = 3; closeDialog();" flex>
                <span>Go to Smart Search Tab</span>
                <i class="material-icons inline-icon">forward</i>
            </md-button>

            <!--once we know we are going to build a pattern for single student-->
            <md-button ng-show="walkthrough.single_multi == 'single' && walkthrough.single_type == 'pattern' && walkthrough.load_sample_pattern" class="md-button md-raised md-primary"
                       ng-click="selectedTab = 3; loadSampleSmartSearch(); closeDialog();" flex>
                <span>Go to Smart Search Tab</span>
                <i class="material-icons inline-icon">forward</i>
            </md-button>

            <!--multi is selected and we're entering names-->
            <md-button ng-show="walkthrough.single_multi == 'multi' && !walkthrough.multi_type"
                       class="md-button md-raised md-primary"
                       ng-disabled="multiStudent.length < 2 || walkthrough.multi_student_done"
                       ng-click="walkthrough.multi_student_done = true" flex>
                <span>Next Step</span>
                <i class="material-icons inline-icon">forward</i>
            </md-button>

            <md-button ng-show="walkthrough.single_multi == 'multi' && walkthrough.multi_type == 'scratch'" class="md-button md-raised md-primary"
                       ng-click="startBlankMulti(); closeDialog();" flex>
                <span>Go to Multi Student Tab</span>
                <i class="material-icons inline-icon">forward</i>
            </md-button>

            <md-button ng-show="walkthrough.single_multi == 'multi' && walkthrough.multi_type == 'random'" class="md-button md-raised md-primary"
                       ng-click="selectedTab = 1; closeDialog();" flex>
                <span>Go to Single Student Tab</span>
                <i class="material-icons inline-icon">forward</i>
            </md-button>

            <md-button ng-show="walkthrough.single_multi == 'multi' && walkthrough.multi_type == 'pattern'" class="md-button md-raised md-primary"
                       ng-click="selectedTab = 1; closeDialog();" flex>
                <span>Go to Single Student Tab</span>
                <i class="material-icons inline-icon">forward</i>
            </md-button>


            <md-button class="md-button md-raised md-accent" ng-click="closeDialog();" flex>
                <i class="material-icons inline-icon">close</i>
                <span>Exit Walkthrough</span>
            </md-button>

        </div>

    </md-dialog-content>
</md-dialog>